
/* === Body === */

body {
    color: #707070;
    background-color: #FBF3E4;
}

/* === Navigation Colors=== */
.home h2 {
    color: #C56566;
}

/* nav.n-red {
    background-color: #902122;
}
nav.n-yellow {
    background-color: #F4C057;
}
nav.n-green {
    background-color: #2D7E77;
}
nav.n-blue {
    background-color: #4878A8;
} */
nav.n-red .drop-menu, nav.n-red .drop-menu-small {
    background-color: #902122;
}
nav.n-yellow .drop-menu, nav.n-yellow .drop-menu-small  {
    background-color: #F4C057;
}
nav.n-green .drop-menu, nav.n-green .drop-menu-small {
    background-color: #2D7E77;
}
nav.n-blue .drop-menu, nav.n-blue .drop-menu-small {
    background-color: #4878A8;
}
/* This is yet in style.css too */
nav ul a:hover {
    background: white;
    color: black;
}


/* === Header === */

main h1, header h1 {
    /* color: #C56566; */
    color: white;
}

/* === Main Section === */
main .plain {
    background-color: #FBF3E4;
}
main .red {
    background-color: #C56566;
}
main .yellow {
    background-color: #F0CD85;
}
main .green {
    background-color: #5DA69F;
}
main .blue {
    background-color: #80A7CE;
}
main .plain h2 {
    color: #C56566;
}
main .coloured h2 {
    color: #FBF3E4;
}
/* except in yellow */
main .yellow h2 {
    color: #C56566;
}
main h3, h4 {
    color: black;
}
main .plain p {
    color: #707070;
}
main .coloured p {
    color: #FBF3E4;
}
main .coloured label {
    color: #FBF3E4;
}


/* === Footer === */

footer.n-red {
    background-color: #902122;
}
footer.n-yellow {
    background-color: #F4C057;
}
footer.n-green {
    background-color: #2D7E77;
}
footer.n-blue {
    background-color: #4878A8;
}
