/* === Small CSS Reset === */
* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after{
    box-sizing: border-box;
}


/* === My Own Style=== */
/* === Fonts === */
body{
    font-family: 'Montserrat', sans-serif;
}
body h1, body h2{
    font-family: 'Pacifico', cursive;
}
/* === Navigation === */
/* Colors */
/* Content */
nav{
    color: white;
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1em;
    position: fixed;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 1em 3em;
}
nav ul li a:hover{
    background: white;
    color: black;
}



/* === Header === */
/* Images */
#home-page{
    background-image: url(https://picsum.photos/id/109/2000/700);
}
#team-page{
    background-image: url(../images/autumn-leaves.jpg);
}
#about-page{
    background-image: url(../images/girl-on-swing.jpg);
}
#courses-page{
    background-image: url(../images/girl-on-swing.jpg);
}
#contact-page{
    background-image: url(../images/child-clay.jpg);
}
#sign-up-page{
    background-image: url(../images/child-clay.jpg);
}
/* Content */
.hero-img{
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    text-align: center;
    font-size: 35px;
}
/* === Main Section === */

/* Colors */
/* Content */
main .section-content{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main h2{
    text-align: center;
    font-size: 30px;
}
main h3{
    text-align: center;
    font-size: 14px;
    margin-bottom: 2em;
}
main .section-content > p{
   width: 80%;
   margin: 1em auto;
}
main .section-content .card-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2em auto;
}
main .section-content .card-container .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .section-content a{
    padding: 1em;
    margin: 1em;
    text-decoration: none;
}
main .plain a:hover{
    border: 2px solid black;
    color: black;
}
main .coloured a:hover{
    border: 2px solid black;
    color: black;
}


/* === Main > Team Section === */
main .team-section .card-container .card{
    width: 15%;
}
main .team-section a img{
    width: 100%;
    border-radius: 150px;
}
main .team-section .card a{
    padding: 0;
    margin: 0;
    border: none;
}
main .team-section .card a:hover img{
    opacity: 60%;
}

/* === Main > About Section === */
/* === Main > Courses Section === */
/* === Main > Gallery Section === */
main .gallery-section .card-container .card{
    width: 33%; 
}
main .gallery-section .card-container .card img{
    width: 100%;
    padding: 5px;
}
/* === Main > Testimonials Section === */
/* === Main > Membership Section === */

main .memb-section .card-container .card{
    width: 25%;
}
main .memb-section .card-container .card div{
    width: 100%;
    text-align: center;
}
main .memb-section .card div h3{
    padding: 1em;
    margin: 0;
}
main .memb-section .card div p{
    padding: 1em;
    border-bottom: 1px solid #707070 ;
}
main .memb-section .card div:last-of-type{
    padding: 1.8em;
}

/* === Main > Contact Section === */


/* === Footer === */
/* Colors */
/* Content */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
footer h2{
    font-size: 30px;
    margin-bottom: 1em;
}

/* ====== End of Home Page ====== */
/* ====== Team Page ====== */
main .A-section .card h3{
    font-size: 1.5em;
}

main .C-section{
    margin: 2em auto;
}
main .C-section .card{
    width: 48%;
}
main .C-section .card img{
    width: 100%;
    border-radius: 150px;
    border: 6px solid #a0a0a0;
}
/* Only on Team-page */
main .A-section .card img{
    width: 60%;
    border-radius: 250px;
}
/* ====== About Page ====== */
main .links-section .card-container .card{
    width: 250px;
    min-height: 250px;
}
main .links-section .card-container .card div{
    width: 100%;
    text-align: center;
}
main .links-section .card div h3{
    padding: 1em;
    margin: 0;
}
main .links-section .card div p{
    padding: 1em;
}

/* ====== End of About Page ====== */

/* ====== Contact Page ====== */
main .contact1-section .form-container form{
    display: flex;
    flex-direction: column;
}
main .form-container label{
    padding-top: 1em;
}
main .form-container input{
    padding: 0.5em;
}
main .form-container button{
    background-color: #5DA69F;
    border: 1 px solid #5DA69F;
}
main .contact1-section .form-container form #submit-button{
    margin: 1em auto;
    color:  #FBF3E4;
    background-color: #5DA69F;
    border: 2px solid #5DA69F;
}
main .contact1-section .form-container form a:hover{
    color:  black;
    border: 2px solid black;
}
/* ====== End of Contact Page ====== */
