/* === Small CSS Reset === */
* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after{
    box-sizing: border-box;
}

/* === My Own Style=== */
/* === Navigation === */
/* Colors */
/* Content */
nav{
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1em;
    position: fixed;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 1em 3em;
}
nav ul li a:hover{
    background: white;
    color: black;
}



/* === Header === */
#home-page{
    background-image: url(https://picsum.photos/id/109/2000/700);
}
.hero-img{
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    text-align: center;
    font-size: 35px;
}
/* === Main Section === */

/* Colors */
/* Content */
main .section-content{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main h2{
    text-align: center;
    font-size: 30px;
}
main h3{
    text-align: center;
    font-size: 14px;
    margin-bottom: 2em;
}
main .section-content > p{
   width: 80%;
   margin: 1em auto;
}
main .section-content .card-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2em auto;
}
main .section-content .card-container .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* === Main > Team Section === */
/* === Main > About Section === */
/* === Main > Courses Section === */
/* === Main > Gallery Section === */
/* === Main > Testimonials Section === */
/* === Main > Membership Section === */
/* === Main > Contact Section === */


/* === Footer === */
/* Colors */
/* Content */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
footer h2{
    font-size: 30px;
    margin-bottom: 1em;
}

/* ====== End of Home Page ====== */

/* ====== About Page ====== */
/* ====== End of About Page ====== */

/* ====== Contact Page ====== */
/* ====== End of Contact Page ====== */
